[submodule "externals/vv"]
	path = externals/vv
	url = git://github.com/bradp/vv.git
[submodule "externals/checkout"]
	path = externals/checkout
	url = https://zaantar@bitbucket.org/riccardos/builder.git
